doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Signature
        link(rel="stylesheet", href="./hieu.scss")
    body 
        div.container
            h1 Signature Viper Features
            div.content
                img(src="./../img/h525 (1).png", alt="") 
                
                div.button
                    h2 Monitor Possesses 
                    p  ASUS ProArt PA328CGV monitor possesses 2K (2560x1440) resolution with 77% more pixels than traditional Full HD monitors, PA328CGV for excellent picture quality and clear detail. HDR technology supports multiple highlights for a wider color range and higher contrast. Image brightness can be up to 600 nits and VESA Display HDR 600 certification for a lifelike experience.
                    a(href="http://").btn Viewdetail 
                
            div.content
                div.button
                    h2 Display of RTX 3080
                    p GeForce RTX™ 3080 Ti and RTX 3080 graphics cards deliver the extreme performance gamers crave, powered by Ampere—NVIDIA's 2nd Gen RTX architecture. These graphics cards are engineered with enhanced RT Cores and Tensor Cores, new streaming multiprocessors, and super-fast G6X memory for an immersive gaming experience.
                    a(href="http://").btn Viewdetail 
                img(src="./../img/41410_h525.png", alt="")

            div.content
                img(src="./../img/w692 (1).png", alt="")
                div.button 
                    h2 6E Gaming Router 
                    p  ASUS ROG Rapture WiFi 6E Gaming Router (GT-AXE11000) - Tri-Band 10 Gigabit Wireless Router, World's First 6Ghz Band for Wider Channels & Higher Capacity, 1.8GHz Quad-Core CPU, 2.5G Port, AURA RGB
                    a(href="http://").btn Viewdetail 
                     
                      
            
        div.logobar
            div.logo1 
                img(src="logo-asus-inkythuatso-2-01-26-09-21-11.jpg", alt="")
            div.logo2 
            div.logo3 
            div.logo4 
            div.logo5 
            div.logo6 
            div.logo7 
            div.logo8 
            div.logo9 
            div.logo10 
script(type="module" src="../js/hieu.js") 