//- code here
.phat-part
    .container
        section(class='splide')
            .splide__track 
                ul(class = 'splide__list')
                    li(class = 'splide__slide') 
                        .card_block 
                            .card_img
                                img(src="../img/background (3).jpg", alt="", srcset="")
                            .card_infor
                                p(class = 'text2') 
                    li(class = 'splide__slide') 
                        .card_block 
                            .card_img
                                img(src="../img/xtreme (1).jpg", alt="", srcset="")
                            .card_infor
                                p(class = 'text2') 
                    li(class = 'splide__slide') 
                        .card_block 
                            .card_img
                                img(src="../img/08.png", alt="", srcset="")
                            .card_infor
                                p(class = 'text2') 
                    li(class = 'splide__slide') 
                        .card_block 
                            .card_img
                                img(src="../img/hero.jpg", alt="", srcset="")
                            .card_infor
                                p(class = 'text2') 
                    li(class = 'splide__slide') 
                        .card_block 
                            .card_img
                                img(src="../img/cooler.jpg", alt="", srcset="")
                            .card_infor
                                p(class = 'text2') 
        
    
    .container    
        .card-carousel 
            .card-block2 
                .card-img
                    img(src="../img/ram-DDR5-300x300.jpg", alt="", srcset="")
                .card-button 
                    p RAM 
            .card-block2 
                .card-img
                    img(src="../img/02 (1).jpg", alt="", srcset="")
                .card-button 
                    p MAIN 
            .card-block2 
                .card-img
                    img(src="../img/RTX-3060-ti (1).jpg", alt="", srcset="")
                .card-button 
                    p VGA     
            .card-block2 
                .card-img
                    img(src="../img/P_setting_xxx_0_90_end_692.png", alt="", srcset="")
                .card-button 
                    p SCREEN 
            .card-block2 
                .card-img
                    img(src="../img/3265689-ryz (1).jpg", alt="", srcset="")
                .card-button 
                    p CPU 
            .card-block2 
                .card-img
                    img(src="../img/seoul-south-korea-december-28-2021-samsung-ssd-980-pro- (1).jpg", alt="", srcset="")
                .card-button 
                    p SSD/HDD   


script(type="module" src="../js/phat.js") 