//- code here
.phong-part
    .nav-bg
        .container
            .nav
                .nav-logo 
                    a(href="#") VIPER     
                input(type="checkbox" class='button-toggle-menu')
                .toggle-icon-menu
                    span
                .nav-menu
                    ul(class='nav-menu__list')
                        li(class='nav-menu__item') 
                            a(class='nav-menu__link' href='#') ALL PRODUCT
                                a(class='bi bi-caret-down')
                            .nav-menu__menu-side 
                                ul(class='nav-menu__item__list') 
                                    li(class='nav-menu__item__list__item') 
                                        a(class='nav-menu__item__list__link' href='#') CPU
                                            a(class='bi bi-chevron-right' href='#')
                                    li(class='nav-menu__item__list__item') 
                                        a(class='nav-menu__item__list__link' href='#') MAIN BOARD
                                            a(class='bi bi-chevron-right' href='#')
                                    li(class='nav-menu__item__list__item') 
                                        a(class='nav-menu__item__list__link' href='#') VGA
                                            a(class='bi bi-chevron-right' href='#')
                                    li(class='nav-menu__item__list__item') 
                                        a(class='nav-menu__item__list__link' href='#') RAM
                                            a(class='bi bi-chevron-right' href='#')
                                    li(class='nav-menu__item__list__item') 
                                        a(class='nav-menu__item__list__link' href='#') SSD
                                            a(class='bi bi-chevron-right' href='#')
                                    li(class='nav-menu__item__list__item') 
                                        a(class='nav-menu__item__list__link' href='#') PSU
                                            a(class='bi bi-chevron-right' href='#')
                                    li(class='nav-menu__item__list__item') 
                                        a(class='nav-menu__item__list__link' href='#') CASE
                                            a(class='bi bi-chevron-right' href='#')
                                    li(class='nav-menu__item__list__item') 
                                        a(class='nav-menu__item__list__link' href='#') SCREEN
                                            a(class='bi bi-chevron-right' href='#')
                                    li(class='nav-menu__item__list__item') 
                                        a(class='nav-menu__item__list__link' href='#') COOLING
                                            a(class='bi bi-chevron-right' href='#')
                                    li(class='nav-menu__item__list__item')
                                        a(class='nav-menu__item__list__link' href='#') GAMING GEARS
                                            a(class='bi bi-chevron-right' href='#')
                        li(class='nav-menu__item') 
                            a(class='nav-menu__link' href='#') CUSTOM YOUR PC
                        li(class='nav-menu__item') 
                            a(class='nav-menu__link' href='#') COMMUNITY
                        li(class='nav-menu__item') 
                            a(class='nav-menu__link' href='#') SUPPORT
                        li(class='nav-menu__item') 
                            a(class='nav-menu__link' href='#') STORE
                    .nav-icon
                        a(class='bi bi-person-circle' href='#')
                        a(class='bi bi-search' href='#')
    .di(class='div')
script(type="module" src="../js/phong.js")