
//- code here
//- script(type="module" src="../js/thanh.js") 

.products
  .container1
    h1.lg-title Special Deals
    .product-items
      // single product  
      .product
        .product-content
          .product-img
            img(src='../img/RAM Gigabyte Aorus RGB Memory 32GB (2x16GB) 6000 DDR5.png' alt='product image')
          .product-btns
            button.btn-cart(type='button') add to cart
              span
                i.fas.fa-plus
            button.btn-buy(type='button') buy now
              span
                i.fas.fa-shopping-cart
        .product-info
          .product-info-top
            h2.sm-title RAM
            .rating
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.far.fa-star
          a.product-name(href='#') Gigabyte Aorus RGB Memory 32GB (2x16GB) 6000 DDR5
          p.product-price $ 570.00
          p.product-price $ 426.00
        .off-info
          h2.sm-title 25% off
      // end of single product
      // single product
      .product
        .product-content
          .product-img
            img(src='../img/Razer Hanbo Chroma RGB AIO 360MM.png' alt='product image')
          .product-btns
            button.btn-cart(type='button') add to cart
              span
                i.fas.fa-plus
            button.btn-buy(type='button') buy now
              span
                i.fas.fa-shopping-cart
        .product-info
          .product-info-top
            h2.sm-title  Fans
            .rating
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.far.fa-star
          a.product-name(href='#') Razer Hanbo Chroma RGB AIO 360MM
          p.product-price $ 537.00
          p.product-price $ 349.00
        .off-info
          h2.sm-title 35% off
      // end of single product
      // single product
      .product
        .product-content
          .product-img
            img(src='../img/Tản nhiệt CPU GIGABYTE XTC700.png' alt='product image')
          .product-btns
            button.btn-cart(type='button') add to cart
              span
                i.fas.fa-plus
            button.btn-buy(type='button') buy now
              span
                i.fas.fa-shopping-cart
        .product-info
          .product-info-top
            h2.sm-title Cooler
            .rating
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.far.fa-star
          a.product-name(href='#')  XTREME GAMING XTC700 CPU AIR COOLER
          p.product-price $ 250.00
          p.product-price $ 199.00
        .off-info
          h2.sm-title 20% off
      // end of single product
      // single product
      .product
        .product-content
          .product-img
            img(src='../img/Màn hình ASUS PA34VC (34.1inchUWQHDIPS60Hz 5ms300nitsHDMI+DP+USB+ USBC+AudioLoaCong).png' alt='product image')
          .product-btns
            button.btn-cart(type='button') add to cart
              span
                i.fas.fa-plus
            button.btn-buy(type='button') buy now
              span
                i.fas.fa-shopping-cart
        .product-info
          .product-info-top
            h2.sm-title Monitor
            .rating
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.far.fa-star
          a.product-name(href='#') ASUS PA34VC 
          p.product-price $ 1234.00
          p.product-price $ 740.00
        .off-info
          h2.sm-title 40% off
      // end of single product
      .product
        .product-content
          .product-img
            img(src=' ../img/TUF Gaming AX3000.png' alt='product image')
          .product-btns
            button.btn-cart(type='button') add to cart
              span
                i.fas.fa-plus
            button.btn-buy(type='button') buy now
              span
                i.fas.fa-shopping-cart
        .product-info
          .product-info-top
            h2.sm-title WIFI
            .rating
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.far.fa-star
          a.product-name(href='#') TUF Gaming AX3000
          p.product-price $ 150.00
          p.product-price $ 112.00
        .off-info
          h2.sm-title 25% off
      // end of single product
      // single product
      .product
        .product-content
          .product-img
            img(src='../img/Tản nhiệt nước Gigabye AORUS LIQUID COOLER 360.png' alt='product image')
          .product-btns
            button.btn-cart(type='button') add to cart
              span
                i.fas.fa-plus
            button.btn-buy(type='button') buy now
              span
                i.fas.fa-shopping-cart
        .product-info
          .product-info-top
            h2.sm-title  Fans
            .rating
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.far.fa-star
          a.product-name(href='#') Gigabye AORUS LIQUID COOLER 360
          p.product-price $ 299.00
          p.product-price $ 224.00
        .off-info
          h2.sm-title 25% off
      // end of single product
      // single product
      .product
        .product-content
          .product-img
            img(src='../img/Razer DeathAdder V3 Pro.png' alt='product image')
          .product-btns
            button.btn-cart(type='button') add to cart
              span
                i.fas.fa-plus
            button.btn-buy(type='button') buy now
              span
                i.fas.fa-shopping-cart
        .product-info
          .product-info-top
            h2.sm-title MOUSE
            .rating
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.far.fa-star
          a.product-name(href='#')  Razer DeathAdder V3 Pro
          p.product-price $ 139.00
          p.product-price $ 97.00
        .off-info
          h2.sm-title 30% off
      // end of single product
      // single product
      .product
        .product-content
          .product-img
            img(src='../img/Mainboard GIGABYTE B660M GAMING DDR4.png' alt='product image')
          .product-btns
            button.btn-cart(type='button') add to cart
              span
                i.fas.fa-plus
            button.btn-buy(type='button') buy now
              span
                i.fas.fa-shopping-cart
        .product-info
          .product-info-top
            h2.sm-title MAINBOARD
            .rating
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.far.fa-star
          a.product-name(href='#') GIGABYTE B660M GAMING
          p.product-price $ 190.00
          p.product-price $ 133.00
        .off-info
          h2.sm-title 35% off
      // end of single product
      
script(src='https://kit.fontawesome.com/dbed6b6114.js' crossorigin='anonymous')