//- code here
div.card-carousel
    
    
    img(class="anh"  src="https://genk.mediacdn.vn/139269124445442048/2020/7/11/1-1594453323418239093050.jpg" , alt="")
a(href="#").btn Help 
script(type="module" src="../js/tung.js") 
