//- code here
div.card-carousel
    img(class="anh"  src="https://cdn.shopify.com/s/files/1/0059/0630/1017/files/Keyboards-2022-2_1800x.jpg?v=1654858916" , alt="")
    div.text KHUYẾN MÃI KHỦNG 50%  
        div
            a(href="#").btn2  click me   
              
a(href="#").btn Help 
script(type="module" src="../js/tung.js") 
