*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
body{
    font-size: 1.6rem;
}
.btn{
    background-color: #fe3f40;
    padding: 1rem 2rem;
    border: none;
    color: #fafafa;
    border-radius: 20px;
    transition: 0.3s;
    position: fixed;
    right : 2rem;
    bottom: 2rem;
    text-decoration: none;
}
.btn:hover{
    background-color: #03a4ed;
    transition: 0.3s;
}
.anh {
    //background-image:  url(src/img/329711.2e21e54c385b266b767a64795617c9f2.1600.jpg) ;
    margin: 20%;
    
    height: 24rem;
    
    background: #f50057;
    animation: anh 1s ;
  }
  
  @keyframes anh {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
